analysis/nodered.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "807027565ff98716",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "trektrak/sensor/report",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c240757cdec0647e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "9d75e05170b0946e"
            ]
        ]
    },
    {
        "id": "f99d419a1ef2eedb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "0b5b0d051449094d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Ultrasonic Sensor",
        "func": "msg.payload = msg.payload.ultrasonic;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 360,
        "wires": [
            [
                "54392fe7560a542d",
                "d79c93aa018e3a84"
            ]
        ]
    },
    {
        "id": "54392fe7560a542d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "ultrasonic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d75e05170b0946e",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "0b5b0d051449094d",
                "f99d419a1ef2eedb",
                "1bea9ab9357d4130",
                "169b2d35ad754dfb"
            ]
        ]
    },
    {
        "id": "1bea9ab9357d4130",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "PIR Sensor",
        "func": "msg.payload = msg.payload.pir;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "120f663c3ae2717d",
                "d77b9e03cfa645bb"
            ]
        ]
    },
    {
        "id": "120f663c3ae2717d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "pir",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "d79c93aa018e3a84",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "eb3fff78eeb8a529",
        "name": "Ultrasonic",
        "measurement": "ultrasonic",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "trektrak",
        "bucket": "sensor",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "d77b9e03cfa645bb",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "eb3fff78eeb8a529",
        "name": "PIR",
        "measurement": "pir",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "trektrak",
        "bucket": "sensor",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "169b2d35ad754dfb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "GPS Sensor",
        "func": "msg.payload = msg.payload.gps;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "f107b6b9361e2faa",
                "3bec7dc11bc5d4c6"
            ]
        ]
    },
    {
        "id": "f107b6b9361e2faa",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "gps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "3bec7dc11bc5d4c6",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "eb3fff78eeb8a529",
        "name": "GPS",
        "measurement": "gps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "trektrak",
        "bucket": "sensor",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "c240757cdec0647e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eb3fff78eeb8a529",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "18b18af3b208d991",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]